.psc-ide-port
.pulp-cache/
.psci_modules/
.stack-work/
output/
.psc-package/
dist/
dist-newstyle/
.cabal-sandbox/

cabal.sandbox.config
*.o
*.hi
*.chi
*.chs.h
*.lksh*
bundle/
client/public/js/output
client/client.js

# Nix
result
.direnv/
