name: CI

on:
  pull_request:
  push:
    branches: [master]
  release:
    types: [published]


env:
  SERVER_ASSET: trypurescript-server
  CLIENT_ASSET: trypurescript-client

jobs:
  build_server:
    name: Build server
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v14

      - uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Build server code
        run: nix build

      - name: Build server assets
        if: github.event_name == 'release'
        run: |
          mkdir ${{ env.SERVER_ASSET }}
          cp ./result/bin/trypurescript ${{ env.SERVER_ASSET }}/
          cp LICENSE ${{ env.SERVER_ASSET }}/
          cp -r deploy/ ${{ env.SERVER_ASSET }}/
          cp -r staging/ ${{ env.SERVER_ASSET }}/
          tar czf ${{ env.SERVER_ASSET }}.tar.gz -C ${{ env.SERVER_ASSET }}/ .

      - name: Persist server assets
        uses: actions/upload-artifact@v4
        if: github.event_name == 'release'
        with:
          name: ${{ env.SERVER_ASSET }}.tar.gz
          path: ${{ env.SERVER_ASSET }}.tar.gz
          retention-days: 1

  build_client:
    name: Build client
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@v14

      - uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Build client code
        run: |
          nix develop --command bash -c "
            cd client
            npm install
            npm run build
            npm run test
            npm run build:production
            npm run bundle
          "

      - name: Check SharedConfig.purs versions
        run: |
          nix develop --command bash -c "
            cd client
            cp src/Try/SharedConfig.purs sharedConfig.out
            node updateSharedConfigVersions.mjs sharedConfig.out
            diff src/Try/SharedConfig.purs sharedConfig.out || {
              echo 'PureScript and/or package set versions in \"client/src/Try/SharedConfig.purs\"'
              echo 'do not match the versions extracted from \"staging/spago.yaml\" and the registry package set.'
              echo 'Please run \"cd client && npm run updateConfigVersions\". CI will fail until then.'
              exit 1
            }
          "

      - name: Build client assets
        if: github.event_name == 'release'
        run: |
          mkdir ${{ env.CLIENT_ASSET }}
          cp LICENSE ${{ env.CLIENT_ASSET }}/
          cp -r client/public/ ${{ env.CLIENT_ASSET }}/
          tar czf ${{ env.CLIENT_ASSET }}.tar.gz -C ${{ env.CLIENT_ASSET }}/ .

      - name: Persist client assets
        uses: actions/upload-artifact@v4
        if: github.event_name == 'release'
        with:
          name: ${{ env.CLIENT_ASSET }}.tar.gz
          path: ${{ env.CLIENT_ASSET }}.tar.gz
          retention-days: 1

  release:
    name: Release
    runs-on: ubuntu-22.04
    if: github.event_name == 'release'
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    needs:
      - build_server
      - build_client
    steps:
      - name: Retrieve server assets
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.SERVER_ASSET }}.tar.gz

      - name: Retrieve client assets
        uses: actions/download-artifact@v4
        with:
          name: ${{ env.CLIENT_ASSET }}.tar.gz

      - name: Upload server and client assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ${{ env.SERVER_ASSET }}.tar.gz
            ${{ env.CLIENT_ASSET }}.tar.gz
